.env
*.env
!*.env.example

__pycache__/
*.py[cod]

mlruns/
mlartifacts/
data/mlflow.db
data/mlflow.db-shm
data/mlflow.db-wal
.deepeval/
data/vector_db/
data/uploaded_documents/
data/processed/samsung_documents_manifest.json
tempCodeRunnerFile.py

node_modules/
.next/
tsconfig.tsbuildinfo
