chromadb
deepeval
google-api-python-client
langdetect
langchain
langchain-ollama
langchain-openai
langsmith
mlflow
numpy
openai
ollama
pandas
pyspellchecker
python-dotenv
scikit-learn
sentence-transformers
spacy
vaderSentiment
