chromadb
deepeval
ddgs
google-api-python-client
langdetect
langchain
langchain-ollama
langchain-openai
langsmith
mlflow
numpy
openai
ollama
pandas
pypdf
python-docx
pyspellchecker
python-dotenv
scikit-learn
sentence-transformers
spacy
vaderSentiment
